* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", "Roboto", sans-serif;
}
:root {
  --black:#000;
  --white:#fff;
--border-btn:#fd9c6b;
  --padding-section: 50px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  padding:  15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}
.title {
  font-size: 30px;
  font-weight: normal;
  color: var(--title-color);
  padding: 15px;
}
.description {
  font-size: 20px;
  color: var(--body-color);
  line-height: 1.5;
}
header{
  position: static;
  top: 0;
  background-color: rgba(0 0 0 / 0.1);
}
header .logo a{
  color: var(--white);
}