* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
}
:root {
  --black:#000;
  --white:#fff;
--border-btn:#fd9c6b;
  --padding-section: 50px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  padding:  15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}
.title {
  font-size: 30px;
  font-weight: normal;
  padding: 15px;
}
.description {
  font-size: 20px;
  line-height: 1.5;
}
.hero{
  padding: var(--padding-section);
  background-image: url(/assets/images/slider-bg.webp);
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
  background-attachment: fixed;
  color: var(--white);
}
.logo a{
  color: var(--white);
  font-size: 30px;
  font-weight: 700;

}
.hero h1{
  font-size: 50px;
  padding: 20px 0;
}
.hero p{
  font-size: 20px;
  width: 45%;
}
.btn{
  padding: 15px 30px;
  font-size: 15px;
  margin-top: 50px;
color: var(--border-btn);
border: 1px solid var(--border-btn);
background-color: rgba(0 0 0 / .1);
}
@media (max-width:992px) {
  .logo a{
    color: var(--black);
  }
  .hero{
    background-image: none;
    color: var(--black);
  }
}